@media only screen and (max-width: 502px) {
    body {
        background-image: url("../backgroundImage.jpg");
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .wrapper {
        position: relative;
    }
    .container {
        color: #4aaaa5;
        margin-top: 15vh;
        padding: 2em;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 60vw;
        border: solid .25em #dcdcdc;
        box-shadow: 10px 10px 5px #ccc;
    }
    header {
        width: 100%;
        text-align: center;
    }
    textarea {
        resize: none;
        font-size: 18px;
        height: 20vh;
        width: 40vw;
        text-align: center;
        padding-top: 19vh;
        margin-left: 10vw;
        border: inset .25em #f2f3f7;
        border-radius: .5em;
        color: #4aaaa5;
        background: rgba(255, 255, 255, 0.907);
    }
    footer {
        border-top-color: #000;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #pageFoot {
        height: 10vh;
        width: 100vw;
        background: #666;
        border-top: solid #4aaaa5 8px;
        color: #fff;
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }
    a {
        color: #fff;
    }
    button {
        text-align: center;
        width: 30vw;
        margin-top: 5vh;
        text-transform: uppercase;
        background: #4aaaa5;
        border: solid .2em #40a7a1;
        color: #fff;
        font-weight: 600;
        font-size: .75rem;
        border-radius: 50px;
        cursor: pointer;
        transition: all .4s;
    }
    button:hover {
            opacity: 0.8;
            box-shadow: 10px 10px 5px #4aaaa5b6;;
    }
}